<div class="container jumbotron">
  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>

  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>
  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>
  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>

  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>
  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>
  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>

  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>
  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>
  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>

  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>
  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>
  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>

  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>
  <div class="col-md-4"><img src="images/about.jpg" class="img-responsive img-rounded "
                             alt="Responsive image"></div>

</div>
