<div class="container">
  <div class="col-md">
    <table class="table table-hover">
      <thead>
      <tr>
        <th><a href="" ng-click="sortField = 'name';reverse = !reverse">Name</a></th>
        <th><a href="" ng-click="sortField = 'category';reverse = !reverse">Category</a></th>
        <th>Ratings</th>
        <th>Size</th>
        <th>YOR</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat=" movies in moviesList | orderBy:sortField:reverse">
        <td>{{movies.name}}</td>
        <td>{{movies.category}}</td>
        <td>10/10</td>
        <td>1.5GB</td>
        <td>2005</td>
      </tr>
      </tbody>

    </table>
    <div>
      <h3>{{serviceMessage}}</h3>
      <h4>{{connectionDetails}}</h4>
    </div>
  </div>
</div>
