<div class="container">
  <div class="col-md">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Ratings</th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <td>Ganaga Jal</td>
        <td>Action</td>
        <td>10/10</td>

      </tr>
      <tr>
        <td>Golmaal</td>
        <td>Commedy</td>
        <td>10/10</td>

      </tr>
      <tr>
        <td>Dhamaal</td>
        <td>Commedy</td>
        <td>9/10</td>

      </tr>
      <tr>
        <td>DDLJ</td>
        <td>Romantic</td>
        <td>8/10</td>

      </tr>
      </tbody>

    </table>
  </div>
</div>
